@import '/src/variables';

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  gap: $default-gap;
  padding: 0 $app-padding;
  max-width: $app-width;
  margin: 0 auto $default-gap auto;

  &--empty {
    grid-template-columns: 1fr;
    place-items: center;
  }
}

.movie {
  display: flex;
  flex-direction: column;

  &__poster {
    border-radius: 8px;
    box-shadow: $shadow;
    height: 300px;
    margin-bottom: 10px;
    cursor: pointer;
  }

  &__title {
    font-weight: 500;
    font-size: 1.2rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__subheadline {
    display: flex;
    justify-content: space-between;
    color: $white-placeholder;
  }

  &__year {
    font-weight: 200;
  }

  &__remove-button {
    color: inherit;
    margin-left: auto;
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 0;

    &:hover {
      color: $red;
    }
  }
}

@media (max-width: $app-width) {
  .wrapper {
    justify-content: center;
  }
}

@media (max-width: $mobile-breakpoint) {
  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  .movie {
    padding: 40px;
    border-bottom: 1px solid $white-dim;

    &__poster {
      height: unset;
    }
  }

  .movie:first-of-type {
    padding-top: 0;
  }

  .movie:last-of-type {
    padding-bottom: 0;
    border-bottom: none;
  }
}
