@import '/src/variables';

.wrapper {
  padding: 8px;
  border-bottom: 1px solid $white-dim;
  cursor: pointer;
  display: flex;
  justify-content: space-between;

  &:hover {
    color: $white-highlight;
  }
}

.wrapper:last-of-type {
  border-bottom: none;
}

.title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.highlight {
  color: $red;
}
