@import '/src/variables';

.wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: $default-gap;
  background-color: $grey-darker;
  box-shadow: $shadow;
}

.inner-wrapper {
  display: grid;
  align-items: center;
  width: $app-width;
  padding: 0 $app-padding;
  grid-template-columns: 105px 1fr 105px;

  > :nth-child(1) {
    text-align: left;
  }

  > :nth-child(2) {
    text-align: center;
  }

  > :nth-child(3) {
    text-align: right;
  }
}

.highlighted-font {
  color: $red;
  font-weight: 200;
}

.link {
  color: $white;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 200;
  white-space: nowrap;

  &:hover {
    color: $white-highlight;
  }

  &--active {
    color: $red;

    &:hover {
      cursor: default;
      color: $red;
    }
  }
}

@media (max-width: $mobile-breakpoint) {
  .logo {
    font-size: 2rem;
  }
}
